<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
    <!-- HEAD -->
    <%- include('partials//head.html') %>
</head>

<body>


    <%- include('partials//navbar.html') %>


    <!-- MAIN CONTENT -->

    <main role="main">


        <div class="album py-5 bg-light">
            <div class="container">
                
                <div class="row">
                   
                    <div class="col-sm-2">
                        <div class="card">
                            <img class="card-img-top" src="img/devops.png" width="100" height="100" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">DevOps</h5>
                                <p class="card-text">Básico <br> Intermediario <br> Avançado <br><br></p>
                                <a href="/no" class="btn btn-primary">Saber +</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <img class="card-img-top" src="img/aws.png"  width="100" height="100" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">AWS</h5>
                                <p class="card-text">Inciando o curso AWS ...<br><br><br>
                                </p>
                                <a href="/node" class="btn btn-primary">Saber +</a>
                            </div>
                        </div>
                    </div>
                  

                
                   
                    <div class="col-sm-2">
                        <div class="card">
                            <img class="card-img-top" src="img/Spring.png" width="100" height="100"  alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">spring boot</h5>
                                <p class="card-text">Instalando, configurando, projetos <br><br></p>
                                <a href="/spring" class="btn btn-primary">Saber +</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <img class="card-img-top" src="img/Nodejs.png" width="100" height="100" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Node js</h5>
                                <p class="card-text">Instalando, configurando, projeto modelo MVC, Segurança
                                </p>
                                <a href="/node" class="btn btn-primary">Saber +</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <img class="card-img-top" src="img/alexa.png"  width="100" height="100" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Alexa</h5>
                                <p class="card-text">developer amazon, criando skill<br><br>
                                </p>
                                <a href="/node" class="btn btn-primary">Saber +</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>    
    </main>





    <!-- FOOTER -->
    <%- include('partials//footer.html') %>



</body>

</html>