<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
    <!-- HEAD -->
    <%- include('partials//head.html') %>
</head>

<body>


    <%- include('partials//navbar.html') %>


    <!-- MAIN CONTENT -->

    <main role="main">


        <div class="album py-5 bg-light">
            <div class="container">
                
                <div class="row">
                   
                    <div class="col-sm-6">
                        <div class="card">
                            <img class="card-img-top" src="img/devops.png" width="200" height="200" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">DevOps</h5>
                                <p class="card-text">Em minha trajetoria assisti recentemente
                                    uns vídeos no Youtube de um curso free (DevOps Cloud Week)

                                    E fiquei muito impolganda, entao resolvi estudar um pouco </p>
                                <a href="/no" class="btn btn-primary">Saber +</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <img class="card-img-top" src="img/aws.png"  width="250" height="250" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">AWS</h5>
                                <p class="card-text">Inciando o curso AWS ...
                                </p>
                                <a href="/node" class="btn btn-primary">Saber +</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                   
                    <div class="col-sm-6">
                        <div class="card">
                            <img class="card-img-top" src="img/Spring.png" width="200" height="200"  alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Instalando e Configurando</h5>
                                <p class="card-text">Andei fora do mundo JAVA e agora quero me atualizar. Pesquisando um
                                    pouco conheci o Srping Boot a “nova” ferramenta para desenvolvedor.

                                    Vou reporta aqui meu passo a passo, para me ajudar, e quem sabe ajudar a outros que
                                    venha trilhar esse mesmo caminho. </p>
                                <a href="/spring" class="btn btn-primary">Saber +</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <img class="card-img-top" src="img/Nodejs.png" width="200" height="200" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Entendendo o Node js</h5>
                                <p class="card-text">Começa logo por saber que Nodejs é uma versão do javaScripts no
                                    lado do servidor . e javascripts exsite desde 1995. Que é uma linguagem padrão web,
                                    porém o NodeJs também pode ser usado fora do contexto de um navegador
                                </p>
                                <a href="/node" class="btn btn-primary">Saber +</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>    
    </main>





    <!-- FOOTER -->
    <%- include('partials//footer.html') %>



</body>

</html>