<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<h1>, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spring</title>
  <!-- HEAD -->
  <%- include('partials//head.html') %>
</head>

<body>
  <!-- NAVBAR -->
  <%- include('partials//navbar.html') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h4><br>
        <center>Node js <br><br>
          Uma base teórica mais protótipo para representação, onde seja possível interagir e testar com usuários
          reais.<br>
          Serão úteis para iniciar projetos. Este é exemplo em execução no heroku.</center><br>
      </h4>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="box box-solid">
        <div class="box-body">
          <div class=container>


            <div class="card">
              <div class="card-header">
                <center>Temos aqui informações Necessarias para</center>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="/instnodejs"> Instalação do Node js e configurações de framework, bibliotecas ...</a>
                </li>
                <li class="list-group-item">
                  <a href="#"> Criar um Projeto basico com nodejs, utilizando Git e Heroku </a>
                </li>
                <li class="list-group-item">
                  <a href="/deploy"> Fazer Deploy no Heroku </a>
                </li>
              </ul>
            </div>


          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



  <!-- FOOTER -->
  <%- include('partials//footer.html') %>

</body>

</html>