<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/script.js"></script>

	<title>Spring</title>
    <!-- HEAD -->
    <%- include('..//partials//head.html') %>
</head>

<body>
    <!-- NAVBAR -->
    <%- include('..//partials//navbar.html') %>

    <!-- MAIN CONTENT -->

   
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h4><br>
		<center>Questionários Capitulo 1 - exercício 1 a 5</center><br>
	
      </h4>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box box-solid">
        <div class="box-body">
          <div class=container>
          


 <!--Botao informação-->


 <div class="col-lg-12" style="text-align: right;">
	<p>
		
		<a href="/" class="btn btn-outline-danger" role="button" aria-pressed="true">Retornar</a>
		<a href="/re" class="btn btn-outline-warning" role="button" aria-pressed="true">Resumo Cap.1</a>
		<a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button"
			aria-expanded="false" aria-controls="collapseExample">
			Informações
		</a>
	
	</p>
</div>



<div class="collapse" id="collapseExample">
	<div class="card card-body">
		Estes são o questionários do livro, capitulo 1. DICA leia o resumo, e responda este questionario verificando assim se as informações fxaram em sua mente :)
	</div>
</div>



		<div id="dvCentro">
			<h4>Exercico 1.1</h4>
			<div class="pergunta">
				<p class="titulo">a) - A empresa que popularizou a computação pessoal foi a:

				<a href="#" data-toggle="tooltip" data-placement="bottom" 
					title="• Em 1977, a Apple Computer popularizou o fenômeno da computação pessoal.
					• Em 1981, a IBM lançou o IBM Personal Computer. Quase da noite para o dia, a computação pessoal tornou-se uma
					realidade no comércio, na indústria e na organizações governamentais. "> 
					<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
				</a>

				</p> 
				<p><input checked="checked" type="radio" name="rdP1" value="1" class="rdP1" /> <span class="sP1">a) Apple.</span></p>
				<p><input type="radio" name="rdP1" value="2" class="rdP1" /> <span class="sP1">b)	IBM Personal Computer</span></p>
				<p><input type="radio" name="rdP1" value="3" class="rdP1" /> <span class="sP1">c)	MacroSoft.</span></p>
			</div>
			<br />
			<div class="pergunta">
				<p class="titulo">b) – O comptador que tornou a computação pessoal uma realidade no comércio e na indústria foi o:</p>
				<p><input checked="checked" type="radio" name="rdP2" value="1" class="rdP2" /> <span class="sP2">a)	Apple. </span></p>
				<p><input type="radio" name="rdP2" value="2" class="rdP2" /> <span class="sP2">b)	IBM Personal Computer</span></p>
				<p><input type="radio" name="rdP2" value="3" class="rdP2" /> <span class="sP2">c)	MicroSoft.</span></p>
			</div>
			<br />
			<div class="pergunta">
				<p class="titulo">c) - Os computadores processam dados sob o controle de conjuntos de instruções chamadas de:

				<a href="#" data-toggle="tooltip" data-placement="bottom" 
					title="• Os computadores processam dados sob o controle de conjuntos de instruções chamados programas de computador. Esses programas de computador orientam o computador ao longo de conjuntos ordenados de ações especificadas por pessoas chamadas programadores de computador.
					• Os vários dispositivos (como teclado, tela, discos, memória e unidades de processamento) que abrangem um sistema
					de computador são conhecidos como hardware.
					• Os programas de computador que executam em um computador são conhecidos como software.   "> 
					<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
				</a>

				</p>
				<p><input checked="checked" type="radio" name="rdP3" value="1" class="rdP3" /> <span class="sP3">a)	Classes</span></p>
				<p><input type="radio" name="rdP3" value="2" class="rdP3" /> <span class="sP3">b)	Progamas</span></p>
				<p><input type="radio" name="rdP3" value="3" class="rdP3" /> <span class="sP3">c)	Analise</span></p>
			</div>
			
			<br />
			<div class="pergunta">
				<p class="titulo">d) - As seis unidades lógicas-chave do computador são:

				<a href="#" data-toggle="tooltip" data-placement="bottom" 
					title=" • A unidade de entrada é a seção [receptora] do computador. Ela recebe informações (dados e programas de computador) de vários dispositivos de entrada e coloca essas informações à disposição de outras unidades, de modo que as informações possam ser processadas.
					• A unidade de saída é a seção de [despacho] do computador. Ela recebe as informações processadas pelo computador
					e as coloca em dispositivos de saída para torná-las disponíveis para utilização fora do computador.
					• A unidade de memória é a seção de armazenamento de relativamente baixa capacidade e acesso rápido do computador.
					Ela retém informações que foram inseridas pela unidade de entrada, de modo que as informações podem tornar-se imediatamente disponíveis ao processamento quando for necessário, e retém informações que já foram processadas até que
					possam ser colocadas em dispositivos de saída pela unidade de saída.
					• A unidade de aritmética e de lógica (ALU) é a seção de [fabricação] do computador. Ela é responsável por realizar cálculos como adição, subtração, multiplicação e divisão e por tomar decisões.
					• A unidade central de processamento (CPU) é a seção [administrativa] do computador. Ela coordena o computador e é
					responsável por supervisionar a operação de outras seções.
					• A unidade de armazenamento secundário é a seção de armazenamento de alta capacidade e de longo prazo do computador. Programas ou dados que não estão sendo utilizados pelas outras unidades normalmente são colocados em dispositivos de armazenamento secundários (como discos) até que sejam necessários, possivelmente horas, dias, meses ou
					mesmos anos mais tarde.   "> 
					<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
				</a>


				</p>
				<p><input checked="checked" type="radio" name="rdP4" value="1" class="rdP4" /> <span class="sP4">a) Unidade de saida, entrada, memoria, aritimetica, logica,	</span></p>
				<p><input type="radio" name="rdP4" value="2" class="rdP4" /> <span class="sP4">b) unidade central de processamento e secundaria de armazenamento.</span></p>
				<p><input type="radio" name="rdP4" value="3" class="rdP4" /> <span class="sP4">c)	Unidade de saida, entrada, memoria, aritimetica, logica, central de processamento e secundaria de armazenamento.</span></p>
			</div>
				<br />
			<div class="pergunta">
				<p class="titulo">e) - As três classes de çinguagens discutidas no capitulo são:

				<a href="#" data-toggle="tooltip" data-placement="bottom" 
					title=" • As linguagens de computador podem ser divididas em três tipos gerais: linguagens de máquina, linguagens assembler
					e linguagens de alto nível.   "> 
					<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
				</a>

				</p>
				<p><input checked="checked" type="radio" name="rdP5" value="1" class="rdP5" /> <span class="sP5">a)	Só a liguagem Assembler.</span></p>
				<p><input type="radio" name="rdP5" value="2" class="rdP5" /> <span class="sP5">b)	linguagem de máquina,</span></p>
				<p><input type="radio" name="rdP5" value="3" class="rdP5" /> <span class="sP5">c)	linguagem de máquina, assembler e de alto nivel.</span></p>
			</div>
				<br />
			<div class="pergunta">
				<p class="titulo">f) –   Os programas que traduzem programas de linguagem de alto nivel em liguagem de máquina sao chamados de:

				<a href="#" data-toggle="tooltip" data-placement="bottom" 
					title="  • Compiladores traduzem programas de linguagem de alto nível em programas de linguagem de máquina. As linguagens
					de alto nível (como Java) contêm palavras em inglês e notações matemáticas convencionais  "> 
					<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
				</a>


				</p>
				<p><input checked="checked" type="radio" name="rdP6" value="1" class="rdP6" /> <span class="sP6">a)	binarios.</span></p>
				<p><input type="radio" name="rdP6" value="2" class="rdP6" /> <span class="sP6">b)	processadores</span></p>
				<p><input type="radio" name="rdP6" value="3" class="rdP6" /> <span class="sP6">c)	compiladores.</span></p>
			</div>
				<br />
				<h4>Exercico 1.2</h4>
			<div class="pergunta">
				<p class="titulo">a) – O Comando ________ do java 2 Software Development Kit executa um applet Java:

				<a href="#" data-toggle="tooltip" data-placement="bottom" 
					title="  • Os applets também podem ser executados a partir da linha de comando com o comando appletviewer fornecido
					junto com Java 2 Software Development Kit (J2SDK). O appletviewer é comumente citado como navegador mínimo - ele só sabe como interpretar applets.  "> 
					<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
				</a>

				</p>
				<p><input checked="checked" type="radio" name="rdP7" value="1" class="rdP7" /> <span class="sP7">a)	Apple.</span></p>
				<p><input type="radio" name="rdP7" value="2" class="rdP7" /> <span class="sP7">b)	Appletveiwer</span></p>
				<p><input type="radio" name="rdP7" value="3" class="rdP7" /> <span class="sP7">c)	Nehum das esponstas.</span></p>
			</div>
				<br />
			<div class="pergunta">
				<p class="titulo">b) – O Comando ________ do Java 2 Software Developement Kit executa um aplicativo Java

				<a href="#" data-toggle="tooltip" data-placement="bottom" 
					title=" • Os aplicativos são carregados na memória e executados com o interpretador j ava.   "> 
					<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
				</a>


				</p>
				<p><input checked="checked" type="radio" name="rdP8" value="1" class="rdP8" /> <span class="sP8">a)	Javascript</span></p>
				<p><input type="radio" name="rdP8" value="2" class="rdP8" /> <span class="sP8">b)	Javac</span></p>
				<p><input type="radio" name="rdP8" value="3" class="rdP8" /> <span class="sP8">c)	Java</span></p>
			</div>
			<br />
			<div class="pergunta">
				<p class="titulo">c) – O Comando ________ do Java 2 Software Developement Kit 2 Kit completa um programa Java

				<a href="#" data-toggle="tooltip" data-placement="bottom" 
					title="O compilador Java (j avac) traduz um programa Java em bytecodes - a linguagem entendida pelo interpretador Java.
					Se um programa compilar corretamente, o compilador produz um arquivo com a extensão . class. Esse é o arquivo
					que contém os bytecodes que são interpretados durante a fase de execução "> 
					<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
				</a>

				</p>
				<p><input checked="checked" type="radio" name="rdP9" value="1" class="rdP9" /> <span class="sP9">a)	Javac.</span></p>
				<p><input type="radio" name="rdP9" value="2" class="rdP9" /> <span class="sP9">b)	Java.</span></p>
				<p><input type="radio" name="rdP9" value="3" class="rdP9" /> <span class="sP9">c)	Java e Javac.</span></p>
			</div>
			<br />
			<div class="pergunta">
				<p class="titulo">d) – O arquivo __________ é necessário para invocar um applet Java

				<a href="#" data-toggle="tooltip" data-placement="bottom" 
					title="  Quando o navegador vê um applet em um documento de HTML, o navegador carrega o carregador de classes Java para carregar o applet. Todos os navegadores que suportam Java têm um interpretador Java embutido. Uma vez que o applet é carregado, o interpretador Java no navegador começa a sua execução"> 
					<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
				</a>

				</p>
				<p><input checked="checked" type="radio" name="rdP10" value="1" class="rdP10" /> <span class="sP10">a) HTML.</span></p>
				<p><input type="radio" name="rdP10" value="2" class="rdP10" /> <span class="sP10">b) Javascript e HTML </span></p>
				<p><input type="radio" name="rdP10" value="3" class="rdP10" /> <span class="sP10">c)	Apenas com o JQuery.</span></p>
			</div>
			<br />
			<div class="pergunta">
				<p class="titulo">e) – O arquivo _________ de programa Java deve terminar com a extensao do arquivo _______

				<a href="#" data-toggle="tooltip" data-placement="bottom" 
					title="  • Os nomes de arquivos de programas Java terminam com a extensão . j ava. "> 
					<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
				</a>

				</p>
				<p><input checked="checked" type="radio" name="rdP11" value="1" class="rdP11" /> <span class="sP11">a)	.java </span></p>
				<p><input type="radio" name="rdP11" value="2" class="rdP11" /> <span class="sP11">b)	.exe .</span></p>
				<p><input type="radio" name="rdP11" value="3" class="rdP11" /> <span class="sP11">c)	Nao tem extensao</span></p>
			</div>
			<br />
			<h4>Exercico 1.3</h4>
		<div class="pergunta">
			<p class="titulo">a) –  O _________ permite localizar e visualizar documentos baseados em multimidia sobre aproximaamente quaquer assunto pela internet:

			<a href="#" data-toggle="tooltip" data-placement="bottom" 
				title="  • Navegadores são utilizados para visualizar documentos HTML (HyperText Markup Language) na World Wide Web. "> 
				<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
			</a>

			</p>
			<p><input checked="checked" type="radio" name="rdP12" value="1" class="rdP12" /> <span class="sP12">a)	WOrld Wide Web .</span></p>
			<p><input type="radio" name="rdP12" value="2" class="rdP12" /> <span class="sP12">b)	World.</span></p>
			<p><input type="radio" name="rdP12" value="3" class="rdP12" /> <span class="sP12">c)	software.</span></p>
		</div>
			<br />
			<div class="pergunta">
				<p class="titulo">b) – Os ________ Java em geral são armazenados em seu computador e são projetados para executar independente de um navegador da World Wide Web:

					<a href="#" data-toggle="tooltip" data-placement="bottom" 
					title="  • Navegadores são utilizados para visualizar documentos HTML (HyperText Markup Language) na World Wide Web. "> 
					<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
				</a>
	

				</p>
				<p><input checked="checked" type="radio" name="rdP13" value="1" class="rdP13" /> <span class="sP13">a)	Aplicativos.</span></p>
				<p><input type="radio" name="rdP13" value="2" class="rdP13" /> <span class="sP13">b)	World.</span></p>
				<p><input type="radio" name="rdP13" value="3" class="rdP13" /> <span class="sP13">c)	Java.</span></p>
			</div>
				<br />
				<div class="pergunta">
					<p class="titulo">c) – Listas e tabelas de valoes são chamadas de _________:
						
						<a href="#" data-toggle="tooltip" data-placement="bottom" 
						title=" • • Arrays - explora o processamento de dados em listas e tabelas de valores.  "> 
						<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
					</a>


					</p>
					<p><input checked="checked" type="radio" name="rdP7" value="1" class="rdP14" /> <span class="sP14">a)	Arrays.</span></p>
					<p><input type="radio" name="rdP14" value="2" class="rdP14" /> <span class="sP14">b)	Classes.</span></p>
					<p><input type="radio" name="rdP14" value="3" class="rdP14" /> <span class="sP14">c)	software.</span></p>
				</div>
					<br />
					<div class="pergunta">
						<p class="titulo">d) – os componentes GUI _____ estão escrito completamente em Java:


							<a href="#" data-toggle="tooltip" data-placement="bottom" 
							title=" • Classes internas com nomes podem ser declaradas dentro de outras classes e são úteis na definição de tratadores de
							eventos comuns para diversos componentes de GUI.   "> 
							<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
						</a>
						</p>
						<p><input checked="checked" type="radio" name="rdP15" value="1" class="rdP15" /> <span class="sP15">a)	Swing.</span></p>
						<p><input type="radio" name="rdP15" value="2" class="rdP15" /> <span class="sP15">b)	Arrays.</span></p>
						<p><input type="radio" name="rdP15" value="3" class="rdP15" /> <span class="sP15">c)	aplicativos.</span></p>
					</div>
						<br />
						<div class="pergunta">
							<p class="titulo">e) – O __________ permite a um applet ou aplicativo realizar mutiplas atvidades em paralelo:</p>
							<p><input checked="checked" type="radio" name="rdP16" value="1" class="rdP16" /> <span class="sP16">a)	Multithreading.</span></p>
							<p><input type="radio" name="rdP16" value="2" class="rdP16" /> <span class="sP16">b)	Classes.</span></p>
							<p><input type="radio" name="rdP16" value="3" class="rdP16" /> <span class="sP16">c)	Software.</span></p>
						</div>
							<br />
							<div class="pergunta">
								<p class="titulo">f) – As _________ fornecem aos programadores de Java um conjunto padrao de estruturas de dados para armazenar e recuperr dados e um conjunto-padrão de algoritimos que permite aos programadores manipular os dados:</p>
								<p><input checked="checked" type="radio" name="rdP17" value="1" class="rdP17" /> <span class="sP17">a)	Coleções.</span></p>
								<p><input type="radio" name="rdP17" value="2" class="rdP17" /> <span class="sP17">b)	objetos</span></p>
								<p><input type="radio" name="rdP17" value="3" class="rdP17" /> <span class="sP17">c)	Multithreading .</span></p>
							</div>
								<br />
								<h4>Exercico 1.4</h4>
								<div class="pergunta">
									<p class="titulo">a) - Ao longo da ultima década o setor de engenharia do software faz progressos significativos no campo de _____ arquitetura testadas e aprovadas para construit software orientado a objeto flexivel e facil de manter  :</p>
									<p><input checked="checked" type="radio" name="rdP18" value="1" class="rdP18" /> <span class="sP18">a)	Padoes de projetos.</span></p>
									<p><input type="radio" name="rdP18" value="2" class="rdP18" /> <span class="sP18">b)	Conjunto de classes.</span></p>
									<p><input type="radio" name="rdP18" value="3" class="rdP18" /> <span class="sP18">c)	Kit Java.</span></p>
								</div>
									<br />
									<div class="pergunta">
										<p class="titulo">b) – Os objetos possuem a propriedade de _____________ :</p>
										<p><input checked="checked" type="radio" name="rdP19" value="1" class="rdP19" /> <span class="sP19">a)	Ocutação de informacoes.</span></p>
										<p><input type="radio" name="rdP19" value="2" class="rdP19" /> <span class="sP19">b)	Padoes de projetos.</span></p>
										<p><input type="radio" name="rdP19" value="3" class="rdP19" /> <span class="sP19">c)	qualquer software.</span></p>
									</div>
										<br />
							
										<div class="pergunta">
											<p class="titulo">c) – Os programadores Java se concentram em criar seus proprios tipos definifos pelo usuario chamados de ________________ :</p>
											<p><input checked="checked" type="radio" name="rdP20" value="1" class="rdP20" /> <span class="sP20">a)	Classes.</span></p>
											<p><input type="radio" name="rdP20" value="2" class="rdP20" /> <span class="sP20">b)	Padoes de projetos.</span></p>
											<p><input type="radio" name="rdP20" value="3" class="rdP20" /> <span class="sP20">c)	qualquer software.</span></p>
										</div>
											<br />
											<div class="pergunta">
												<p class="titulo">d) – As classes tambem tem relacionamentos com outras classes . Estes relacionamentos sao chamados de _________ :</p>
												<p><input checked="checked" type="radio" name="rdP21" value="1" class="rdP21" /> <span class="sP21">a)	Associaçoes.</span></p>
												<p><input type="radio" name="rdP21" value="2" class="rdP21" /> <span class="sP21">b)	Classes.</span></p>
												<p><input type="radio" name="rdP21" value="3" class="rdP21" /> <span class="sP21">c)	qualquer software.</span></p>
											</div>
												<br />
												<div class="pergunta">
													<p class="titulo">e) – O processo de analisar e projetar um sistema de um ponto de vista orientado a objetos é chamado de __________  :</p>
													<p><input checked="checked" type="radio" name="rdP22" value="1" class="rdP22" /> <span class="sP22">a)	Analise de projetos orienados.</span></p>
													<p><input type="radio" name="rdP22" value="2" class="rdP22" /> <span class="sP22">b)	 aplicativos.</span></p>
													<p><input type="radio" name="rdP22" value="3" class="rdP22" /> <span class="sP22">c)	Padoes de projetos.</span></p>
												</div>
													<br />
																
													<br />
													<h4>Exercico 1.5</h4>
													<div class="pergunta">
														<p class="titulo">a) - Classifique cada um dos item como software ou hardware <br>
															CPU<br>
															Compilador Java<br>
															ALU<br>
															interpretador Java<br>
															unidade de entrada <br>
															programa editor :</p>
														<p><input checked="checked" type="radio" name="rdP23" value="1" class="rdP23" /> <span class="sP23">a) hardware, software, hardware, software, hardware, software, 	</span></p>
														<p><input type="radio" name="rdP23" value="2" class="rdP23" /> <span class="sP23">b) software, software, hardware, software, hardware, software,	<span></p>
														<p><input type="radio" name="rdP23" value="3" class="rdP23" /> <span class="sP23">c)	hardware, software, hardware, software, hardware, hardware </span></p>
													</div>
														<br />
																										
			
			<hr />
			<br />
			<div id="result" class="resultado">
				<p id="acertos">Acertos: </p>
				<p id="erros">Erros: </p>
				
					<div id="verde"></div> Respostas corretas <div class="clear"></div>
					<div id="vermelho"></div> Respostas incorretas <div class="clear"></div>
					<div id="cinza"></div> Demais respostas <div class="clear"></div>
				<br />
			</div>
			<button id="btnVerificar" class="button">Verificar</button>
		</div>





               
	</div>
</div>
</div>


</main>





<!-- FOOTER -->
<%- include('..//partials//footer.html') %>

<script>	
	// Tooltips Initialization
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
	</script>

<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

</body>

</html>