<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/scriptcap1.js"></script>

	<title>Spring</title>
    <!-- HEAD -->
    <%- include('..//partials//head.html') %>
</head>

<body>
    <!-- NAVBAR -->
    <%- include('..//partials//navbar.html') %>

    <!-- MAIN CONTENT -->

   
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h4><br>
		<center>Questionários Capitulo 2 - exercício </center><br>
	
      </h4>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box box-solid">
        <div class="box-body">
          <div class=container>
          


 <!--Botao informação-->


 <div class="col-lg-12" style="text-align: right;">
	<p>
		
		<a href="/" class="btn btn-outline-danger" role="button" aria-pressed="true">Retornar</a>
		<a href="/ree" class="btn btn-outline-warning" role="button" aria-pressed="true">Resumo Cap.2</a>
		<a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button"
			aria-expanded="false" aria-controls="collapseExample">
			Informações
		</a>
	
	</p>
</div>



<div class="collapse" id="collapseExample">
	<div class="card card-body">
		Estes são o questionários do livro, capitulo 2. DICA leia o resumo, e responda este questionario verificando assim se as informações fxaram em sua mente :)
	</div>
</div>



		<div id="dvCentro">
			<h4>Exercico 2.1 - Preencha as lacunas em cada uma das seguintes afirmações</h4>
			<div class="pergunta">
				<p class="titulo">a) - A _____ inicia o corpo de cada método e a _____ termina o corpo de cada método

				<a href="#" data-toggle="tooltip" data-placement="bottom" 
					title=" • A chave esquerda, {, inicia o corpo de uma definição de método. A chave direita correspondente, }, termina o corpo
					da definição de método. "> 
					<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
				</a>

				</p> 
				<p><input checked="checked" type="radio" name="rdP1" value="1" class="rdP1" /> <span class="sP1">a) Chave esquerda (, chave direita . </span></p>
				<p><input type="radio" name="rdP1" value="2" class="rdP1" /> <span class="sP1">b)	Chave esquerda {, chave direita }. </span></p>
				<p><input type="radio" name="rdP1" value="3" class="rdP1" /> <span class="sP1">c)	Nenhuma das alterativas.</span></p>
			</div>
			<br />
			<div class="pergunta">
				<p class="titulo">b) – Cada instrução termina com um:</p>
				<p><input checked="checked" type="radio" name="rdP2" value="1" class="rdP2" /> <span class="sP2">a)	 Ponto-e-vírgula ;. </span></p>
				<p><input type="radio" name="rdP2" value="2" class="rdP2" /> <span class="sP2">b)	 Chaves {}</span></p>
				<p><input type="radio" name="rdP2" value="3" class="rdP2" /> <span class="sP2">c)	Nenhuma das alternativas</span></p>
			</div>
			<br />
			<div class="pergunta">
				<p class="titulo">c) - A estrutura _________ é utilizada para tomada de decisão. :

				<a href="#" data-toggle="tooltip" data-placement="bottom" 
					title="   "> 
					<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
				</a>

				</p>
				<p><input checked="checked" type="radio" name="rdP3" value="1" class="rdP3" /> <span class="sP3">a)  if	</span></p>
				<p><input type="radio" name="rdP3" value="2" class="rdP3" /> <span class="sP3">b)	else</span></p>
				<p><input type="radio" name="rdP3" value="3" class="rdP3" /> <span class="sP3">c)	if else </span></p>
			</div>
			
			<br />
			<div class="pergunta">
				<p class="titulo">d) - ________inicia um comentário de uma única linha:

				<a href="#" data-toggle="tooltip" data-placement="bottom" 
					title="  O comentário que começa com // é chamado de comentário de uma única linha. Os programadores inserem comentários para documentar programas e aprimorar a legibilidade do programa. 
					"> 
					<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
				</a>


				</p>
				<p><input checked="checked" type="radio" name="rdP4" value="1" class="rdP4" /> <span class="sP4">a) //	</span></p>
				<p><input type="radio" name="rdP4" value="2" class="rdP4" /> <span class="sP4">b) {}</span></p>
				<p><input type="radio" name="rdP4" value="3" class="rdP4" /> <span class="sP4">c) as duas alternativas anteriores</span></p>
			</div>
				<br />
			<div class="pergunta">
				<p class="titulo">e) - _______, __________, _________ e ________ e são chamados de caracteres de espaçamento. :

				<a href="#" data-toggle="tooltip" data-placement="bottom" 
					title=" • Linhas em branco, caracteres de espaço, caracteres de nova linha e caracteres de tabulação são conhecidos como caracteres de espaço em branco. Os caracteres de espaço em branco fora dos strings são ignorados pelo compilador.   "> 
					<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
				</a>

				</p>
				<p><input checked="checked" type="radio" name="rdP5" value="1" class="rdP5" /> <span class="sP5">a)	 Linhas em branco, caracteres de espaço, caracteres de nova linha e caracteres de tabulação.</span></p>
				<p><input type="radio" name="rdP5" value="2" class="rdP5" /> <span class="sP5">b)	 caracteres de tabulação,Linhas em branco, caracteres de espaço, caracteres de nova linha </span></p>
				<p><input type="radio" name="rdP5" value="3" class="rdP5" /> <span class="sP5">c)	Nenhuma alteranativa</span></p>
			</div>
				<br />
			<div class="pergunta">
				<p class="titulo">f) –  A classe ______ contém métodos que exibem diálogos de mensagem e diálogos de entrada
					As ________ são reservados para uso pelo Java.

				<a href="#" data-toggle="tooltip" data-placement="bottom" 
					title="  "> 
					<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
				</a>


				</p>
				<p><input checked="checked" type="radio" name="rdP6" value="1" class="rdP6" /> <span class="sP6">a)	JOptionPane, Palavras-chave</span></p>
				<p><input type="radio" name="rdP6" value="2" class="rdP6" /> <span class="sP6">b)	JOption , Palavras-chave</span></p>
				<p><input type="radio" name="rdP6" value="3" class="rdP6" /> <span class="sP6">c)	javac, Palavras-chave</span></p>
			</div>
				<br />
				<div class="pergunta">
					<p class="titulo">h) - Os aplicativos Java iniciam a execução no método. 
	
					<a href="#" data-toggle="tooltip" data-placement="bottom" 
						title="  "> 
						<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
					</a>
	
	
					</p>
					<p><input checked="checked" type="radio" name="rdP7" value="1" class="rdP7" /> <span class="sP7">a)	main.</span></p>
					<p><input type="radio" name="rdP7" value="2" class="rdP7" /> <span class="sP7">b)	mainm</span></p>
					<p><input type="radio" name="rdP7" value="3" class="rdP7" /> <span class="sP7">c)	nain.</span></p>
				</div>
					<br />
	
				

					<div class="pergunta">
						<p class="titulo">i) - Os métodos __________e _______ exibem informações na janela de comand. 
		
						<a href="#" data-toggle="tooltip" data-placement="bottom" 
							title="  "> 
							<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
						</a>
		
		
						</p>
						<p><input checked="checked" type="radio" name="rdP8" value="1" class="rdP8" /> <span class="sP8">a)	 Sys -tem. out .prin t e System, out.println.</span></p>
						<p><input type="radio" name="rdP8" value="2" class="rdP8" /> <span class="sP8">b)	 out .prin t </span></p>
						<p><input type="radio" name="rdP8" value="3" class="rdP8" /> <span class="sP8">c)	nenhuma das alteranativa</span></p>
					</div>
						<br />
		
						<div class="pergunta">
							<p class="titulo">j) - 0 método _______sempre é chamado com seu nome de classe seguido por um ponto (.) e o nome do
								método.. 
			
							<a href="#" data-toggle="tooltip" data-placement="bottom" 
								title="  "> 
								<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
							</a>
			
			
							</p>
							<p><input checked="checked" type="radio" name="rdP9" value="1" class="rdP9" /> <span class="sP9">a)	main</span></p>
							<p><input type="radio" name="rdP9" value="2" class="rdP9" /> <span class="sP9">b)	static</span></p>
							<p><input type="radio" name="rdP9" value="3" class="rdP9" /> <span class="sP9">c)	exec</span></p>
						</div>
						<br />

						<h4>Exercico 2.2 - Determine se cada uma das afirmações seguintes é verdadeira ou falsa. Se ÍOT falsa, explique por quê. </h4>
						<div class="pergunta">
							<p class="titulo">a) - Os comentários fazem com que o computador imprima o texto depois das // na tela quando o programa é
								executado
			
							<a href="#" data-toggle="tooltip" data-placement="bottom" 
								title=""> 
								<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
							</a>
			
							</p> 
							<p><input checked="checked" type="radio" name="rdP10" value="1" class="rdP10" /> <span class="sP10">a) Verdadeiro o // não é um comando </span></p>
							<p><input type="radio" name="rdP10" value="2" class="rdP10" /> <span class="sP10">b) Falsa. Os comentários não fazem com que nenhuma ação seja realizada quando o programa é executado.
								Eles são utilizados para documentar programas e melhorar sua legibilidade.	</span></p>
							<p><input type="radio" name="rdP10" value="3" class="rdP10" /> <span class="sP10">c) Sem respostas</span></p>
						</div>
						<br />
						<div class="pergunta">
							<p class="titulo">a) - Todas as variáveis devem receber um tipo quando são declaradas			
							<a href="#" data-toggle="tooltip" data-placement="bottom" 
								title=""> 
								<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
							</a>
			
							</p> 
							<p><input checked="checked" type="radio" name="rdP11" value="1" class="rdP11" /> <span class="sP11">a) Verdadeira </span></p>
							<p><input type="radio" name="rdP11" value="2" class="rdP11" /> <span class="sP11">b)Falsa </span></p>
							<p><input type="radio" name="rdP11" value="3" class="rdP11" /> <span class="sP11">c) Nao lembro</span></p>
						</div>
						<br />
						<div class="pergunta">
							<p class="titulo">c) - Java considera que as variáveis number e NuMbEr são idênticas			
							<a href="#" data-toggle="tooltip" data-placement="bottom" 
								title=""> 
								<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
							</a>
			
							</p> 
							<p><input checked="checked" type="radio" name="rdP12" value="1" class="rdP12" /> <span class="sP12">a) Verdadeiro Java nao diferencia letras </span></p>
							<p><input type="radio" name="rdP12" value="2" class="rdP12" /> <span class="sP12">b) Falsa. Java diferencia letras maiúsculas de minúsculas, assim essas variáveis são diferentes	</span></p>
							<p><input type="radio" name="rdP12" value="3" class="rdP12" /> <span class="sP12">c) Depende de como utilizar</span></p>
						</div>
						<br />
				
						<div class="pergunta">
							<p class="titulo">d) - O operador de módulo (%) pode ser utilizado apenas com operandos inteiro			
							<a href="#" data-toggle="tooltip" data-placement="bottom" 
								title=""> 
								<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
							</a>
			
							</p> 
							<p><input checked="checked" type="radio" name="rdP13" value="1" class="rdP13" /> <span class="sP13">a) Falsa. O operador de módulo também pode ser usado com operandos não-inteiros em Java.  </span></p>
							<p><input type="radio" name="rdP13" value="2" class="rdP13" /> <span class="sP13">b) Verdadeiro. O operador nao sao  módulo e nao  pode ser usado com operandos não-inteiros em Java. 	</span></p>
							<p><input type="radio" name="rdP13" value="3" class="rdP13" /> <span class="sP13">c) Nao lembro!</span></p>
						</div>
						<br />

						<div class="pergunta">
							<p class="titulo">e) - Os operadores aritméticos *,/,%, + e - têm o mesmo nível de precedência			
							<a href="#" data-toggle="tooltip" data-placement="bottom" 
								title=""> 
								<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
							</a>
			
							</p> 
							<p><input checked="checked" type="radio" name="rdP14" value="1" class="rdP14" /> <span class="sP14">a) Falsa. Os operadores *, / e % estão no mesmo nível de precedência e os operadores + e - estão em um nível mais baixo de precedência. 
							</span></p>
							<p><input type="radio" name="rdP14" value="2" class="rdP14" /> <span class="sP14">b) Verdadeiro. Os operadores *, / e % estão no mesmo nível de precedência  
							</span></p>
							<p><input type="radio" name="rdP14" value="3" class="rdP14" /> <span class="sP14">c)	Depende de cmo utilzar.</span></p>
						</div>
						<br />

						<div class="pergunta">
							<p class="titulo">f) - O método Intege r .parseln t converte um inteiro em um String			
							<a href="#" data-toggle="tooltip" data-placement="bottom" 
								title=""> 
								<span class="iconify" data-icon="feather-file-text" data-inline="false"></span>
							</a>
			
							</p> 
							<p><input checked="checked" type="radio" name="rdP15" value="1" class="rdP15" /> <span class="sP14">a) Falsa. O método Integer. parseln t converte um Strin g em um valor inteiro (int)</span></p>
							<p><input type="radio" name="rdP15" value="2" class="rdP15" /> <span class="sP15">b) Verdadeiro. O método Integer. parseln t converte um Strin g em um valor inteiro (int)	</span></p>
							<p><input type="radio" name="rdP15" value="3" class="rdP15" /> <span class="sP15">c) Na duvida!	.</span></p>
						</div>
						<br />
				
					
																										
			
			<hr />
			<br />
			<div id="result" class="resultado">
				<p id="acertos">Acertos: </p>
				<p id="erros">Erros: </p>
				
					<div id="verde"></div> Respostas corretas <div class="clear"></div>
					<div id="vermelho"></div> Respostas incorretas <div class="clear"></div>
					<div id="cinza"></div> Demais respostas <div class="clear"></div>
				<br />
			</div>
			<button id="btnVerificar" class="button">Verificar</button>
		</div>





               
	</div>
</div>
</div>


</main>





<!-- FOOTER -->
<%- include('..//partials//footer.html') %>

<script>	
	// Tooltips Initialization
$(function () {
  $('[data-toggle="tooltip"]').tooltip()

   // Showing and hiding tooltip with different speed
   $(".tooltip-large").tooltip({
        delay: {show: 0, hide: 500}
    }); 
})
	</script>

<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

</body>

</html>