<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/script.js"></script>

	<title>Spring</title>
    <!-- HEAD -->
    <%- include('..//partials//head.html') %>
</head>

<body>
    <!-- NAVBAR -->
    <%- include('..//partials//navbar.html') %>

    <!-- MAIN CONTENT -->

   
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h4><br>
		<center>Resumo  Capitulo 2 - (Paul Deitel)</center><br>
	
      </h4>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box box-solid">
        <div class="box-body">
          <div class=container>
          


 <!--Botao informação-->


 <div class="col-lg-12" style="text-align: right;">
	<p>
		
		<a href="/livros" class="btn btn-outline-danger" role="button" aria-pressed="true">Retornar</a>
		<a href="/qa" class="btn btn-outline-warning" role="button" aria-pressed="true">Questionário</a>
		<a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button"
			aria-expanded="false" aria-controls="collapseExample">
			Informações
		</a>
	
	</p>
</div>



<div class="collapse" id="collapseExample">
	<div class="card card-body">
    Este é o resumo do livro Java Como programa - Paul Deitel.  :)
	</div>
</div>



		<div id="dvCentro">
      <h4>Resumo</h4>
      
• 0 aplicativo é um programa que é executado com o interpretador j ava. <br>
• O comentário que começa com // é chamado de comentário de uma única linha. Os programadores 
inserem comentários para documentar programas e aprimorar a legibilidade do programa.<br>
• O string de caracteres contido entre aspas duplas é chamado de string, string de caractere, 
mensagem ou literal de string.<br>
• Linhas em branco, caracteres de espaço, caracteres de nova linha e caracteres de tabulação
 são conhecidos como caracteres de espaço em branco. Os caracteres de espaço em branco fora dos 
 strings são ignorados pelo compilador.<br>
• A palavra-chave class introduz uma definição de classe e é imediatamente seguida pelo nome da
 classe.<br>
• As palavras-chave (ou palavras reservadas) são reservadas para uso de Java. As palavras-chave
 devem aparecer inteiramente em letras minúsculas.<br>
• Por convenção, todos os nomes de classe em Java iniciam com uma primeira letra em maiúscula.
 Se um nome de classe tiver mais de uma palavra, cada palavra deve ser iniciada com uma letra 
 maiúscula.<br>
• O identificador é uma série de caracteres que consiste em letras, dígitos, sublinhados (_ ) e sinais de cifrão ($), que
não inicia com um dígito, não contém nenhum espaço e não é uma palavra-chave.<br>
• Java diferencia letras maiúsculas de minúsculas - as letras minúsculas e maiúsculas são diferentes.
• A chave esquerda, {, inicia o corpo de cada definição de classe. A chave direita 
  correspondente, }, termina cada definição de classe.<br>
• Os aplicativos Java começam a rodar no método main.<br>
• Os métodos são capazes de realizar tarefas e retornar informações quando completam suas tarefas.<br>
• A primeira linha do método main deve ser definida como
public static void main( String args[] ) <br>
• A chave esquerda, {, inicia o corpo de uma definição de método. A chave direita correspondente, }, termina o corpo
da definição de método.<br>
• System, out é conhecido como o objeto de saída padrão. System, out permite aos aplicativos
 Java exibir strings e outros tipos de informações na janela de comando a partir da qual o 
 aplicativo Java é executado. <br>
• A seqüência de escape \n indica um caractere nova linha. Entre as seqüências de escape incluem-se \t (tabulação),\r
(retorno de carro), \\ (barras invertidas) e \" (aspas duplas).<br>
• O método printl n do objeto System, out exibe (ou imprime) uma linha de informações na janela de comando.
Quando printl n completa sua tarefa, ele automaticamente posiciona o cursor de saída no início da próxima linha na
janela de comando.<br>
• Cada instrução deve terminar com um ponto-e-vírgula (também conhecido como terminador
 de instrução).<br>
• A diferença entre os métodos print e printl n de System, out é que print não posiciona o cursor no começo
da próxima linha na janela de comando quando termina de exibir seu argumento.
 O próximo caractere exibido na janela de comando aparece imediatamente depois do último
  caractere exibido com print.<br>
• Java contém muitas classes predefinidas que são agrupadas em categorias de classes relacionadas chamadas pacotes.
Os pacotes são conhecidos coletivamente como biblioteca de classes Java ou interface de programas aplicativos Java
(API Java).<br>
• A classe JOptionPane é definida para nós em um pacote denominado j avax. swing. A classe JOptionPane
contém métodos que exibem caixas de diálogo.<br>
• O compilador utiliza as instruções import para localizar classes necessárias para compilar 
um programa Java.<br>
• O pacote j avax. swing contém muitas classes que ajudam a definir uma interface gráfica com o usuário (GUI) para um aplicativo. Os componentes GUI facilitam a entrada de dados pelo usuário de um programa e as saídas de dados
por um programa.<br>
• O método showMessageDialog da classe JOptionPane exibe uma caixa de diálogo que contém uma mensagem
para o usuário.<br>
• O método stati c é chamado seguindo seu nome de classe por um ponto (.) e pelo nome do método.<br>
• O método exit da classe System termina um aplicativo. A classe System está no pacote j ava. lang. Todos os
programas Java importam o pacote j ava. lang por default.<br>
• A variável é uma posição na memória do computador na qual um valor pode ser armazenado para sua utilização por
um programa. O nome de uma variável é qualquer identificador válido.<br>
• Todas as variáveis devem ser declaradas com um nome e um tipo de dados antes de poderem ser 
utilizadas em um programa.<br>
• As declarações terminam com um ponto-e-vírgula (;) e podem ser divididas em várias linhas com cada variável na declaração separada por uma vírgula (isto é, uma lista de nomes de variáveis separados por vírgulas). 
  
      </div>





               
	</div>
</div>
</div>


</main>





<!-- FOOTER -->
<%- include('..//partials//footer.html') %>

<script>	
	// Tooltips Initialization
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
	</script>

<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

</body>

</html>