<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/script.js"></script>

	<title>Spring</title>
    <!-- HEAD -->
    <%- include('..//partials//head.html') %>
</head>

<body>
    <!-- NAVBAR -->
    <%- include('..//partials//navbar.html') %>

    <!-- MAIN CONTENT -->

   
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h4><br>
		<center>Resumo  Capitulo 1 - (Paul Deitel)</center><br>
	
      </h4>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box box-solid">
        <div class="box-body">
          <div class=container>
          


 <!--Botao informação-->


 <div class="col-lg-12" style="text-align: right;">
	<p>
		
		<a href="/livros" class="btn btn-outline-danger" role="button" aria-pressed="true">Retornar</a>
		<a href="/qa" class="btn btn-outline-warning" role="button" aria-pressed="true">Questionário</a>
		<a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button"
			aria-expanded="false" aria-controls="collapseExample">
			Informações
		</a>
	
	</p>
</div>



<div class="collapse" id="collapseExample">
	<div class="card card-body">
    Este é o resumo do livro Java Como programa - Paul Deitel.  :)
	</div>
</div>



		<div id="dvCentro">
      <h4>Exercico 1.1</h4>
      

      • O software controla os computadores (freqüentemente conhecidos como hardware).<br>
• Java é uma das linguagens de desenvolvimento de softwares mais populares atualmente. <br>
• Java foi desenvolvida pela Sun Microsystems. A Sun fornece uma implementação do Java 2 Platform, Standard Edition, chamada Java 2 Software Development Kit (J2SDK), versão 1.3.1, que inclui o conjunto mínimo de ferramentas
necessárias para escrever softwares em Java. <br>
• Java é uma linguagem completamente orientada a objetos com forte suporte para técnicas adequadas de engenharia de
software.<br>
• O computador é um dispositivo capaz de realizar computações e tomar decisões lógicas a 
velocidades milhões e até bilhões de vezes mais rápidas que os seres humanos.<br>
• Os computadores processam dados sob o controle de conjuntos de instruções chamados programas
 de computador. Esses programas de computador orientam o computador ao longo de conjuntos
  ordenados de ações especificadas por pessoas chamadas programadores de computador. <br>
• Os vários dispositivos (como teclado, tela, discos, memória e unidades de processamento) que abrangem um sistema
de computador são conhecidos como hardware.<br>
• Os programas de computador que executam em um computador são conhecidos como software.<br>
• A unidade de entrada é a seção "receptora" do computador. Ela recebe informações 
(dados e programas de computador) de vários dispositivos de entrada e coloca essas 
informações à disposição de outras unidades, de modo que as informações possam ser processadas.<br>

• A unidade de saída é a seção de "despacho" do computador. Ela recebe as informações
 processadas pelo computadore as coloca em dispositivos de saída para torná-las disponíveis
  para utilização fora do computador.<br>
• A unidade de memória é a seção de armazenamento de relativamente baixa capacidade e acesso
 rápido do computador.<br>
Ela retém informações que foram inseridas pela unidade de entrada, de modo que as informações podem tornar-se imediatamente disponíveis ao processamento quando for necessário, e retém informações que já foram processadas até que
possam ser colocadas em dispositivos de saída pela unidade de saída.<br>
• A unidade de aritmética e de lógica (ALU) é a seção de [fabricação] do computador.
 Ela é responsável por realizar cálculos como adição, subtração, multiplicação e divisão e
  por tomar decisões.<br>
• A unidade central de processamento (CPU) é a seção [administrativa] do computador. Ela coordena o computador e é
responsável por supervisionar a operação de outras seções. <br>
• A unidade de armazenamento secundário é a seção de armazenamento de alta capacidade e de longo prazo do computador. Programas ou dados que não estão sendo utilizados pelas outras unidades normalmente são colocados em dispositivos de armazenamento secundários (como discos) até que sejam necessários, possivelmente horas, dias, meses ou
mesmos anos mais tarde.<br>
• Os primeiros computadores eram capazes de realizar apenas um trabalho ou tarefa por vez. Essa forma de operação de
computador é freqüentemente chamada de processamento em lotes de um único usuário.<br>
• Os sistemas de software chamados sistemas operacionais foram desenvolvidos para ajudar a 
tornar a utilização dos computadores mais conveniente. Os primeiros sistemas operacionais
 gerenciavam a transição suave entre os trabalhos e minimizavam o tempo que os operadores de 
 computador levavam para alternar entre trabalhos. <br>
• A multiprogramação envolve a operação "simultânea" de muitos trabalhos no computador - o 
computador compartilha seus recursos entre os trabalhos que disputam sua atenção.<br>
• O compartilhamento de tempo é um caso especial da multiprogramação em que dezenas ou mesmo
 centenas de usuários compartilham o computador por terminais.
  O computador executa uma pequena parte de um trabalho de um usuário e então vai adiante 
  para atender o próximo usuário. O computador faz isso tão rapidamente que pode fornecer 
  serviço para cada usuário várias vezes por segundo, de tal modo que os programas dos usuários 
  parecem rodar simultaneamente.<br>
• Uma vantagem do compartilhamento de tempo é que o usuário recebe respostas quase imediatas às suas solicitações
em vez de precisar esperar um longo tempo por resultados como ocorria com os primeiros modos
 de computação.<br>
• Em 1977, a Apple Computer popularizou o fenômeno da computação pessoal.<br>
• Em 1981, a IBM lançou o IBM Personal Computer. Quase da noite para o dia, a computação 
pessoal tornou-se uma
realidade no comércio, na indústria e na organizações governamentais. 

      </div>





               
	</div>
</div>
</div>


</main>





<!-- FOOTER -->
<%- include('..//partials//footer.html') %>

<script>	
	// Tooltips Initialization
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
	</script>

<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

</body>

</html>